/* overall */

@font-face {
    font-family: "Public sans";
    src: url(./polices/PublicSans-Regular.ttf) format(truetype);
}

* {
    font-family: "Public Sans";
}

body {
    margin: 0;
}

/* header */

.nav {
    display: flex;
}

nav {
    display: inline-block;
    background-color: black;
    width: 100%;
    border-bottom: 1px solid grey;
}

nav ul {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: center;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li img {
    height: 20px;
    width: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.recherche img {
    padding-right: 5px;
    vertical-align: middle;
}

.alignergauche {
    flex: 75%;
}

.alignerdroite {
    display: flex;
    justify-content: flex-end;
    flex: 25%;
}

header {
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}

header h1 {
    margin-top: 0;
    padding-top: 1%;
    margin-left: 7.5%;
    color: white;
}

header h4 {
    margin-left: 7.5%;
    color: white;
    padding-bottom: 1%;
    margin-bottom: 0;
}

/* main */

.page {
    display: flex;
}

/* filtres */

.filtres {
    flex: 10%;
    margin-left: 7.5%;
    margin-right: 5%;
}

.enligne {
    display: flex;
    align-items: flex-end;
}

.enligne h2 {
    padding-right: 10px;
}

.enligne h5 {
    color: lightgray;
}

.enligne h5:hover {
    text-decoration: underline;
}

.couleurs {
    display: flex;
}

.couleurs2 {
    display: flex;
}

.cercle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 1px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.grey {
    background-color: grey;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.brown {
    background-color: brown;
}
/* grid */

.filtrePertinence {
    text-align: right;
    padding-right: 7.5%;
    padding-top: 5%;
}

.filtrePertinence select {
    border-radius: 0;
    background-color: #ffff;
    width: 20%;
    border: 1px solid black;
}

.grid {
    justify-content: right;
    margin: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 50px;
    column-gap: 50px;
    flex: 70%;
    margin-right: 7.5%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#item1 {
    grid-column: 1;
    grid-row: 1;
}

#item2 {
    grid-column: 2;
    grid-row: 1;
}

#item3 {
    grid-column: 3;
    grid-row: 1;
}

#item4 {
    grid-column: 1;
    grid-row: 2;
}

#item5 {
    grid-column: 2;
    grid-row: 2;
}

#item6 {
    grid-column: 3;
    grid-row: 2;
}

.ficheProduit {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
}

.image {
    grid-column: span 2;
}

.image img {
    height: 100%;
    width: 100%;
}

.description {
    text-align: left;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
}

.taille {
    text-align: right;
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
}

.loadmore {
    display: flex;
    justify-content: center;
    margin-right: 7.5%;
    margin-bottom: 5%;
}

.loadmore input[type="submit"] {
    background-color: #ffff;
    border: 1px solid black;
    width: 150px;
    height: 50px;
}

/* footer */

footer {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.newsletter {
    width: 30%;
    padding-left: 200px;
    padding-right: 50px;
}

.newsletter h2 {
    padding-top: 20px;
}

.liens ul {
    width: 18%;
}

footer li {
    list-style: none;
    padding-bottom: 5px;
}

footer a {
    color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.liens {
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

footer input[type=email] {
    width: 80%;
    height: 30px;
    background-color: lightgray;
    border: 1px solid black;
    padding-left: 5px;
}

footer input[type=submit] {
    border: none;
    background-color: lightgray;
}

footer input[type=submit]:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* responsive */

@media (max-width:850px) {
    .filtrePertinence {
        text-align: center;
    }

    .filtres {
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .grid {
        margin-right: 5%;
    }

    #item1 {
        grid-column: 1;
        grid-row:1;
    }

    #item2 {
        grid-column: 2;
        grid-row:1;
    }

    #item3 {
        grid-column: 1;
        grid-row:2;
    }

    #item4 {
        grid-column: 2;
        grid-row:2;
    }

    #item5 {
        grid-column: 1;
        grid-row:3;
    }

    #item6 {
        grid-column: 2;
        grid-row:3;
    }
}

@media (max-width:550px) {
    .Gcouleurs {
        display: flex ;
    }

    .couleurs {
        flex-direction: column;
    }

    .couleurs2 {
        flex-direction: column;
    }

    .filtres {
        margin-left: 2.5%;
        margin-right: 1%;
    }

    .grid {
        margin-right: 2.5%;
    }

    .filtrePertinence {
        text-align: center;
    }

    #item1 {
        grid-column: 1;
        grid-row:1;
    }

    #item2 {
        grid-column: 1;
        grid-row:2;
    }

    #item3 {
        grid-column: 1;
        grid-row:3;
    }

    #item4 {
        grid-column: 1;
        grid-row:4;
    }

    #item5 {
        grid-column: 1;
        grid-row:5;
    }

    #item6 {
        grid-column: 1;
        grid-row:6;
    }
}
